<%=stylesheet_link_tag('home')%>
<div class="flex-1">
                    <div class="top-pick">
    <div class="w100-200">
                <div class="cover">
            <a href="https://thethao247.vn/426-ket-qua-mu-vs-man-city-21h00-hom-nay-10-8-sieu-cup-anh-d338350.html" class="thumb" title="Đánh bại MU trên chấm luân lưu, Man City vô địch Siêu cúp Anh 2024">
                <img src="https://cdn-img.thethao247.vn/storage/files/camhm/2024/08/11/66b7a3ac1a3fd.jpg" width="610" height="340" alt="Đánh bại MU trên chấm luân lưu, Man City vô địch Siêu cúp Anh 2024">
            </a>
                        <div class="content">
                <a href="https://thethao247.vn/bong-da-quoc-te-c2/" class="title_cat" title="Bóng đá quốc tế">Bóng đá quốc tế</a>                <h2><a href="https://thethao247.vn/426-ket-qua-mu-vs-man-city-21h00-hom-nay-10-8-sieu-cup-anh-d338350.html" class="title" title="Đánh bại MU trên chấm luân lưu, Man City vô địch Siêu cúp Anh 2024"><span class="special-line">Đánh bại MU trên chấm luân lưu, Man City vô địch Siêu cúp Anh 2024</span></a></h2>                <p class="sapo">(Kết quả bóng đá MU vs Man City - Siêu cúp Anh 2024) - Manchester City lên ngôi vô địch Siêu cúp Anh 2024 sau khi vượt qua MU trên chấm luân lưu định mệnh.</p>
            </div>
        </div>
            </div>
    <div class="w200 scroll">
        <div class="pick_right">
            <ul>
                   
                                <li><h3><a href="https://thethao247.vn/405-nhm-khong-duoc-xem-truc-tiep-doi-viet-nam-da-giai-aff-d338255.html" class="title" title="NHM không được xem trực tiếp đội Việt Nam đá giải AFF?">NHM không được xem trực tiếp đội Việt Nam đá giải AFF?</a></h3></li>
                          
                                <li><h3><a href="https://thethao247.vn/olympic/460-truc-tiep-olympic-2024-hom-nay-10-8-my-gianh-hcv-bong-ro-nam-d338374.html" class="title" title="Trực tiếp Olympic 2024 hôm nay 10/8: Mỹ giành HCV bóng rổ nam">Trực tiếp Olympic 2024 hôm nay 10/8: Mỹ giành HCV bóng rổ nam <span class="status_live" style="vertical-align: middle; margin-left: 3px;"><span class="p">LIVE</span></span></a></h3></li>
                          
                                <li><h3><a href="https://thethao247.vn/441-enzo-maresca-cam-3-sao-chelsea-tap-cung-doi-mot-d338388.html" class="title" title="Enzo Maresca cấm 3 sao Chelsea tập cùng đội một"><span class="special-line">Enzo Maresca cấm 3 sao Chelsea tập cùng đội một</span></a></h3></li>
                          
                                <li><h3><a href="https://thethao247.vn/395-tin-chuyen-nhuong-sang-11-8-mu-hoan-tat-ban-hop-dong-kep-tu-bayern-d338389.html" class="title" title="Tin chuyển nhượng sáng 11/8: MU hoàn tất bản hợp đồng 'kép' từ Bayern"><span class="special-line">Tin chuyển nhượng sáng 11/8</span>: MU hoàn tất bản hợp đồng 'kép' từ Bayern</a></h3></li>
                          
                                <li><h3><a href="https://thethao247.vn/395-tu-choi-nhan-cup-harry-kane-het-muc-ton-trong-doi-bong-cu-d338387.html" class="title" title="Từ chối nhận cúp, Harry Kane hết mực tôn trọng đội bóng cũ">Từ chối nhận cúp, <span class="special-line">Harry Kane hết mực tôn trọng đội bóng cũ</span></a></h3></li>
                          
                                <li><h3><a href="https://thethao247.vn/395-mat-sieu-cup-anh-mu-nhan-them-ton-that-luc-luong-d338385.html" class="title" title="'Mất' Siêu cúp Anh, MU nhận thêm tổn thất lực lượng">'Mất' Siêu cúp Anh, <span class="special-line">MU nhận thêm tổn thất lực lượng</span></a></h3></li>
                          
                                <li><h3><a href="https://thethao247.vn/441-liverpool-ban-xong-fabio-carvalho-cho-brentford-cho-don-zubimendi-d338383.html" class="title" title="Liverpool bán xong Fabio Carvalho cho Brentford, chờ đón Zubimendi">Liverpool bán xong Fabio Carvalho cho Brentford, chờ đón Zubimendi</a></h3></li>
                          
                                <li><h3><a href="https://thethao247.vn/441-tai-sao-grealish-lo-tran-sieu-cup-anh-2024-d338382.html" class="title" title="Tại sao Grealish lỡ trận Siêu cúp Anh 2024?"><span class="special-line">Tại sao Grealish lỡ trận Siêu cúp Anh 2024?</span></a></h3></li>
                          
                                <li><h3><a href="https://thethao247.vn/406-viet-nam-kho-co-luc-luong-manh-nhat-da-giao-huu-voi-nga-d338381.html" class="title" title="Việt Nam khó có lực lượng mạnh nhất đá giao hữu với Nga">Việt Nam khó có lực lượng mạnh nhất <span class="special-line">đá giao hữu với Nga</span></a></h3></li>
                          
                                <li><h3><a href="https://thethao247.vn/441-cdv-mu-quay-ngoat-180-do-khen-casemiro-d338379.html" class="title" title="CĐV MU quay ngoắt 180 độ khen Casemiro"><span class="special-line">CĐV MU quay ngoắt 180 độ khen Casemiro</span></a></h3></li>
                          
                            </ul>
        </div>
    </div>
</div>
<div class="bot-pick">
    <ul>
                <li>
            <a href="https://thethao247.vn/395-ten-hag-man-utd-phai-chiu-ton-thuong-sau-sac-d338372.html" class="" title="Ten Hag: 'Man Utd phải chịu tổn thương sâu sắc'"><img class="" style="max-height: 182px; object-fit: cover;" src="https://cdn-img.thethao247.vn/resize_778x468/storage/files/tranvutung/2024/08/11/dlbeatsnoopcom-final-09jev6zqfj-1723329249-053539avatar.jpg" width="389" height="234" alt="Ten Hag: 'Man Utd phải chịu tổn thương sâu sắc'"></a>            <div class="content">
                <a href="https://thethao247.vn/bong-da-quoc-te-c2/" class="title_cat" title="Bóng đá quốc tế">Bóng đá quốc tế</a>                <h2><a href="https://thethao247.vn/395-ten-hag-man-utd-phai-chiu-ton-thuong-sau-sac-d338372.html" class="title" title="Ten Hag: 'Man Utd phải chịu tổn thương sâu sắc'">Ten Hag: <span class="special-line">'Man Utd phải chịu tổn thương sâu sắc'</span></a></h2>            </div>
        </li>
                <li>
            <a href="https://thethao247.vn/426-onana-nhan-cai-ket-dang-khi-treu-nguoi-haaland-d338369.html" class="" title="Onana nhận cái kết đắng khi trêu ngươi Haaland"><img class="" style="max-height: 182px; object-fit: cover;" src="https://cdn-img.thethao247.vn/resize_778x468/storage/files/camhm/2024/08/11/66b7a8664ade4.jpg" width="389" height="234" alt="Onana nhận cái kết đắng khi trêu ngươi Haaland"></a>            <div class="content">
                <a href="https://thethao247.vn/bong-da-quoc-te-c2/" class="title_cat" title="Bóng đá quốc tế">Bóng đá quốc tế</a>                <h2><a href="https://thethao247.vn/426-onana-nhan-cai-ket-dang-khi-treu-nguoi-haaland-d338369.html" class="title" title="Onana nhận cái kết đắng khi trêu ngươi Haaland"><span class="special-line">Onana nhận cái kết đắng khi trêu ngươi Haaland</span></a></h2>            </div>
        </li>
                <li>
            <a href="https://thethao247.vn/72-nong-de-ligt-den-mu-voi-gia-45-trieu-euro-tin-chuyen-nhuong-d338368.html" class="" title="NÓNG: De Ligt đến MU với giá 45 triệu Euro"><img class="" style="max-height: 182px; object-fit: cover;" src="https://cdn-img.thethao247.vn/resize_778x468/storage/files/hungtm/2024/08/10/66b778dc3a432.jpg" width="389" height="234" alt="NÓNG: De Ligt đến MU với giá 45 triệu Euro"></a>            <div class="content">
                <a href="https://thethao247.vn/tin-chuyen-nhuong-c14/" class="title_cat" title="Chuyển nhượng">Chuyển nhượng</a>                <h2><a href="https://thethao247.vn/72-nong-de-ligt-den-mu-voi-gia-45-trieu-euro-tin-chuyen-nhuong-d338368.html" class="title" title="NÓNG: De Ligt đến MU với giá 45 triệu Euro"><span class="special-line">NÓNG: De Ligt đến MU với giá 45 triệu Euro</span></a></h2>            </div>
        </li>
            </ul>
</div>
                </div>